<%= form_with(model: friends_list) do |form| %>
  <% if friends_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friends_list.errors.count, "error") %> prohibited this friends_list from being saved:</h2>

      <ul>
        <% friends_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :first_name, class:"form-control", placeholder:"First name" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :last_name, class:"form-control", placeholder:"Last name" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :email, class:"form-control", placeholder:"example@email.com" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :twitter, class:"form-control", placeholder:"Twitter" %>
  </div>
  <br/>
  <div class="actions mb-3">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
