
<div class="bg-light p-5">
  <h1 class="display-4"><%= @friends_list.first_name %> <%= @friends_list.last_name %> </h1>
  <p class="lead">
    <%= @friends_list.email %>  |
    <%= @friends_list.phone %>  |
    <%= @friends_list.twitter %>
  </p>
  <%= link_to 'Edit', edit_friends_list_path(@friends_list), class:"btn btn-secondary" %> 
  <%= link_to 'Back', friends_lists_path, class:"btn btn-dark" %>
  </p>
</div>